body{
background-color: #e6e6e6;
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
}

h2{
color: #000000;
font-size: 70px;
text-align:center;
font-family: 'Roboto Condensed', sans-serif;
}

h1{
color: #000066;
text-align: center;
font-family: 'Roboto Condensed', sans-serif;
}

p{
color: #000000;
font-size: 20px; 
font-family: 'Roboto Condensed', sans-serif;
}

a{
color: #000000;
font-family: 'Roboto Condensed', sans-serif;
}

pre{
font-size: 50px;
font-family: 'Roboto Condensed', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
