body{
background-color: #f2f2f2;
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
}

h2{
color: #000000;
font-size: 70px;
text-align:center;
font-family: 'Roboto Condensed', sans-serif;
}

h1{
color: #000066;
font-family: 'Roboto Condensed', sans-serif;
}

p{
color: #000000;
font-size: 20px; 
font-family: 'Roboto Condensed', sans-serif;
}

a{
color: #000000;
font-family: 'Roboto Condensed', sans-serif;
}

pre{
font-size: 50px;
font-family: 'Roboto Condensed', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  width:75%;
}

var modal = imagem_2022-12-17_154307710.png('myModal');

var img = imagem_2022-12-17_154307710.png('myImg');
var modalImg = imagem_2022-12-17_154307710.png("img01");
var captionText = imagem_2022-12-17_154307710.png("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
